/* just because of the structure */
.mainSection {
  position: relative !important;
  display: flex;
}
.mainSection_images {
  flex: 1 !important;
  position: fixed !important;
  left: 0 !important;
  
  background-color: red;
}
.mainSection_mother {
  flex: 5;
}
.mainSection_mother > nav {
  position: sticky !important;
  top: 0 !important;
}
